/* 
Project Name: HBL
Client: Me
Author: Clementine Brown
*/

/******************************************
/* COLOURS
/*******************************************/

/* 

color: #4C5664
hover orange: #fe332f
nav hover & footer color: #869CA3;

 */

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear:both;
}

.is-hidden {
  display: none;
}
.is-visible {
  display: block;
}

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

html {
  font-size: 16px;
  color: #4C5664;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

p {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  padding: 0 1rem .2rem 1rem;
}
h1 {
  font-size: 4rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #ffffff;
  text-shadow: 2px 0px 0px rgba(76, 86, 100, 0.5);
}
h2 {
  color: #ffffff;
  font-size: 3rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-shadow: 1px 0px 0px rgba(76, 86, 100, 0.5);
}
a {
  text-decoration: none;
}

/
/******************************************
/* GRID                   
/*******************************************/

.grid-row {

}
.grid-column {
  float: left;
}
.grid-whole {width: 100%}
.grid-half {width: 50%}
.grid-third {width: 33.33%}
.grid-quarter {width: 25%;}
.grid-fifth {width: 20%}
.grid-two-third {width: 66.66%}
.grid-three-quarter {width: 75%}
.grid-two-fifth {width: 40%}
.grid-three-fifth {width: 60%}
.grid-four-fifth {width: 80%}

/******************************************
/* LAYOUT                   
/*******************************************/

.container {
  max-width: 1210px;
  margin: 2rem auto;
}
/*.remove-margin {
  margin-top: 1rem;
}*/
.footer {
  background-color: #4C5664;
  color: #fff;
  padding: .5rem;
  /*margin-top: 3rem;*/
}
.footer a {
  text-decoration: none;
  color: #fff;
}
.footer a:hover {
  color: #fe332f;
}
.footer p {
    font-size: .7rem;
}
/******************************************
/* HEADER                   
/*******************************************/

.header-content {
  position: fixed;
  top: 0;
  background-color: rgba(255,255,255, .8);
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid rgba(134, 156, 163, .3);
}
.header-content * {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header-content.shrink li a {
  font-size: .8rem;
  padding: .3rem .5rem;
}
.header-content.shrink h1 {
  font-size:1rem;
  margin-left: .3rem;
}
.header-content.shrink .logo {
    margin: .7rem;
}
.header-content.shrink nav ul {
  margin: .8rem 0;
}
.header-content.shrink ul li {
  margin-right: 1.5rem
}
.header-content.shrink ul li:last-child {
  margin-right: 0;
}
.header {
  max-width: 1210px;
  margin: 0 auto;
}

/******************************************
/* DROPDOWN                  
/*******************************************/

.sub-nav {
  display: none;
  overflow: hidden;
  background-color: rgba(134, 156, 163, .1);
  border-bottom: 1px solid rgba(134, 156, 163, 1);
}
.drop {
  margin-top: 5rem;
  margin-bottom: 5rem;
  /*max-width: 1210px;*/
}
.drop ul {
  float: right;
}
.drop ul li {
  display: inline-block;
  margin: .5rem 2rem 1rem .5rem;
}
.drop ul li:last-child {
  margin-right: 0;
}
.drop ul li a {
  text-decoration: none;
  color: #4C5664;
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 0.9rem;
  padding: .5rem;
  background-color: rgba(134, 156, 163, 0);
  border: 1px solid rgba(134, 156, 163, 0);
  border-radius: 4px;
}
.drop ul li a:hover {
  background-color: rgba(134, 156, 163, .1);
  border: 1px solid rgba(134, 156, 163, 1);
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/

.parallax-window {
  min-height: 800px;
  background: transparent;
  position: relative;
  margin-top: 0;
}
.text {
  position: absolute;
  margin: 12rem auto;
  text-align: center;
  letter-spacing: .3rem;
}
/*.logo {
  float: left;
  margin: 1.3rem .7rem;
}
.logo a {
  text-decoration: none;
  color: #4C5664;
}
.logo a:hover {
  color: #fe332f;
}*/
.site-nav {
  text-align: center;
}
nav ul {
  margin: 1.5rem auto;
}
nav ul li {
  position: relative;
  display: inline-block;
  margin-right: 2rem;
}
nav ul li:last-child {
  margin-right: 0;
}
nav ul li a {
  text-decoration: none;
  color: #4C5664;
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 0.9rem;
  padding: .5rem;
  background-color: rgba(134, 156, 163, 0);
  border: 1px solid rgba(134, 156, 163, 0);
  border-radius: 4px;
}
nav ul li a:hover {
  background-color: rgba(134, 156, 163, .1);
  border: 1px solid rgba(134, 156, 163, 1);
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
nav ul ul {
  display: none;
  background-color: rgba(255,255,255, .8);
  top:100%;
  left:0;
  position: absolute;
}
nav ul ul li {
  margin: .8rem;
}
.filter {
  text-align: center;
  margin: 2em 0;
}
.burger {
  display: none;
  text-decoration: none;
  color: #4C5664;
}
.frame {
  position: relative;
  margin: .7rem;
  overflow: hidden;
}
.frame img {
  display: block;
  margin: 0 auto;
  transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -ms-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
}
.frame img:hover {
  transform:scale(1.1);
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
}
.img-contain {
  margin: 0 auto;
  max-width: 80%;
}
.img-contain img {
  margin-bottom: 3rem;
}
#scrollUp {
  height: 40px;
  width: 40px;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 50%;
  background-color: rgba(134, 156, 163, 1);
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 2rem;
  padding: 0.2rem .3rem 0 .46rem;
  transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -ms-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
}
#scrollUp:hover {
  background-color: rgba(76, 86, 100, 1);
}
/******************************************
/* RESPONSIVE LAYOUT                   
/*******************************************/
@media only screen and (max-width:1210px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
}
@media only screen and (max-width:980px){
  html {
  font-size: 12px;
  }
  .container {
    width:100%;
  }
  .grid-third {
    width:50%;
    margin: 0 auto;
  }
/*  nav ul li a {
    font-size: .7rem;
  }*/
  .img-contain {
  max-width: 90%;
}
@media only screen and (max-width:860px){
  nav ul {
    display: none;
    margin-top: 4rem;
    width: 100%;
    text-align: center;
  }
  nav ul li {
    display: block;
    font-size: 1.5rem;
    width: 100%;
    line-height: 3rem;
    border-bottom: 1px solid #869CA3;
  }
  .burger {
    display: block;
    float: right;
    padding: 1.5rem 1rem;
    font-size: 1.5rem;
  }
  #scrollUp {
    display: none;
  }
}
@media only screen and (max-width:700px){
  .grid-column {
    width: 100%;
    float:none;
    margin: 0 auto;
  }
}
@media only screen and (max-width:520px){
  .grid-column {
    float:none;
    width:100%;
  }
  .logo {
    margin:0 auto;
  }
  /*.frame {
    width: 70%;
  }*/
/*  nav ul {
    display: none;
  }*/
}
